/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.basic-container {
  padding: 30px;
}

.mat-header-cell-button {
  text-align: center;
  justify-content: center;
}

.mat-header-cell,
.mat-header-cell-def {
  background-color: #3f51b5;
  font-weight: bold;
  font-size: 14px;
}

.titulo {
  text-align: center;
  justify-content: center;
}

.separator {
  margin-right: 10px;
}

.header-custom {
  color: #ffebe6;
}

.container-custom {
  margin-bottom: 0px;
}
.example-spacer {
  flex: 1 1 auto;
}
